<div id="parkScreen" class="hidden">
    <div class="input-group button">
        <i class="fa fa-qrcode"></i>
        <input type="text" id="location_id" placeholder="Parking space code">
        <button class="cam" id="accessCam">Camera</button>
        <canvas id="cam" class="hidden"></canvas>
    </div>
    <div class="input-group" style="margin-top: 150px;">
        <i class="fa fa-clock-o"></i>
        <select id="duration">
            <option value="2">(test) 2min</option>
            {% for h in range(0, 10, 1) %}
                {% for m in range(0, 45, 15) %}
                    {% set h_title = "Hour" %}
                    {% set m_title = "Minutes" %}
                    {% if h > 1 %}
                        {% set h_title = h_title ~ "s" %}
                    {% endif %}

                    {% set human_time = m > 0 ? m ~ " " ~ m_title : "" %}
                    {% if h > 0 %}
                        {% set human_time = h ~ " " ~ h_title ~ " " ~ human_time %}
                    {% endif %}
                    {% set computer_time = (h*60) + m %}
                    {% if computer_time > 0 %} {# loop starts at 0, skip first one.. #}
                        <option value="{{ computer_time }}">{{ human_time }}</option>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </select>
    </div>
    <div class="input-group st30">
        <i class="fa fa-automobile"></i>
        <select id="car_id">
            {% for car in cars %}
                <option value="{{ car.id }}">{{ car.title }}</option>
            {% else %}
                <option value="0" disabled>No cars - go to settings</option>
            {% endfor %}
        </select>
    </div>
    <div class="input-group st30">
        <i class="fa fa-credit-card"></i>
        <select name="">
            {% for card in cards %}
                <option value="{{ card.id }}">**** **** **** {{ card.cardnumber | slice(15, 4) }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="st30 primary" id="btn_park">Park</button>
</div>
<div id="parkedScreen" class="hidden">
    <link rel="stylesheet" href="interface/css/parking.css">
    <div class="loader">
        <div id="timer">
            <p><span id="time">1:10</span><br>
                hours left</p>
        </div>
    </div>
    <div class="loader2"></div>

    <table>
        <tr>
            <td>Your car</td>
            <td class="blue-text" id="parked_car">AB 12 345</td>
        </tr>
        <tr>
            <td>is parked in space</td>
            <td class="blue-text" id="parked_location">XXX-XXXX</td>
        </tr>
        <tr>
            <td>from</td>
            <td class="blue-text" id="parked_from">11:15 24/2/2016</td>
        </tr>
        <tr>
            <td>to</td>
            <td class="blue-text" id="parked_to">12:45 24/2/2016</td>
        </tr>
        <tr>
            <td>at an hourly rate of</td>
            <td class="blue-text" id="parked_rate">12DKK</td>
        </tr>
    </table>

    <div class="extend-button"><a href="#">Extend duration</a></div>
    <div class="login-regi-button"><a href="#">Stop</a></div>
</div>