{% for log in active %}
<div class="stat-group st30">
    <div class="stat-left">
        <p class="stat-header">{{ log.zone }}</p>
        <p class="stat-date">From: {{ log.created_at }}<br>To: {{log.expires}}</p>
        <p class="stat-card">Car: {{ log.title }}</p>
    </div>
    <div class="stat-right">
        <p><span>{{ log.price }}</span><br>DKK</p>
    </div>
</div>
{% endfor %}
{% for log in inactive %}
    <div class="stat-group st30">
        <div class="stat-left">
            <p class="stat-header">{{ log.zone }}</p>
            <p class="stat-date">From: {{ log.created_at }}<br>To: {{log.expires}}</p>
            <p class="stat-card">Car: {{ log.title }}</p>
        </div>
        <div class="stat-right">
            <p><span>{{ log.price }}</span><br>DKK</p>
        </div>
    </div>
{% endfor %}